{% extends 'Users/base_users.html' %}

{% load staticfiles %}

{%block users_css%}
    <link rel='stylesheet' type='text/css' href ="{%static 'Users/css/login.css'%}"/>
{%endblock%}

{% block content %}
    <div>
        <form action="{%url 'Users:create_account' %}" method='POST'>
            {%csrf_token%}
            {% for field in user_form %}
                <div class = 'form-group'>
                    <div>{{field.errors|striptags}}</div>
                    {{field.label_tag}}
                    {{field}}
                </div>
            {% endfor %}
            <button type = 'submit' class = 'btn btn-primary'>Register</button>
        </form>
    </div>

{% endblock %}
