{% extends 'base.html' %}

{% load cloudinary %}
{% cloudinary_includes %}
{% cloudinary_js_config %}

{% block css %}
{% endblock %}


{% block content %}
{%if form.non_field_errors%}
<p class='error'> {{form.non_field_errors}} </p>
{% endif %}
<form action="{%url 'Users:direct_upload_complete' %}" method='POST' enctype="multipart/form-data">
    {%csrf_token%}
    {{ direct_form }}
<!--     {% for field in user_form %}
        <div class = 'form-group'>
            <div>{{field.errors|striptags}}</div>
            {{field.label_tag}}
            {{field}}
        </div>
    {% endfor %}
    {%for field in designer_form%}
        <div class = 'form-group'>
            <div>{{field.errors|striptags}}</div>
            {{field.label_tag}}
            {{field}}
        </div>
    {%endfor%} -->
    
<!--     <button type = 'submit' class = 'btn btn-primary'>Register</button>-->
</form>


{% endblock %}


{% block scripts %}
{% endblock %}