{% extends 'form.html' %}

{% load staticfiles %}
{% load cloudinary %}

{%block app_css%}
    <link rel='stylesheet' type='text/css' href ="{%static 'Users/css/edit.css'%}"/>
    <style type="text/css">
        body {
            background: url("{%static 'Users/img/shirt.png' %}") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .edit-form-wrapper {
            background-image: url("{%static 'Users/img/overlay.png' %}");
        }
    </style>
{%endblock%}

{% block content %}
    <div class="edit-form-wrapper">
        <span style="color:green;font-weight:bold;">{{changes_saved}}</span>
        <form action="{{action}}" method='POST' >
            {%csrf_token%}
            {% for field in user_form %}
                <div class='form-group det-form-group'>
                    <div>{{field.errors|striptags}}</div>
                    {{field.label_tag}}
                    {{field}}
                </div>
            {% endfor %}
            {% for field in abstract_user_form %}
                <div class='form-group port-group'>
                    <div>{{field.errors|striptags}}</div>
                    {{field.label_tag}}
                    {% if field.label == 'Avatar' %}
                        <br/>
                        <a href="#" id="avatar_upload_widget"></a><br/>
                    {%else%}
                    {{field}}
                    {% endif %}
                </div>
            {% endfor %}
            <button type = 'submit' class = 'btn btn-primary'>Update Account</button>
        </form>
        
    </div>
{% endblock %}

{%block scripts%}
    {{block.super}}
    <script>
        ImageUpload.init($.cloudinary.config().cloud_name, "");
    </script>
{%endblock%}
