{% extends 'Users/base_users.html' %}

{% load staticfiles %}

{%block app_css%}
    <link rel='stylesheet' type='text/css' href ="{%static 'Users/css/edit.css'%}"/>
{%endblock%}

{% load cloudinary %}

{%block cloudinary%}
    {% cloudinary_includes %}
    {% cloudinary_js_config %}

    <script>
        $(function () {
            $('#direct_upload input[type="file"]').fileupload({
                dropZone: '#direct_upload',

                progress: function () {
                    $('.status_value').text('Uploading...');
                },
            }).on('cloudinarydone', function (e, data) {
                $('.status_value').text('Upload Complete! Finish creating your account by clicking Register');
            });
        });
    </script>
    
{% endblock %}

{% block content %}
    <div class="edit-form-wrapper">
        <form action="{%url 'Users:edit_account' %}" method='POST' >
            {%csrf_token%}
            {% for field in edit_user %}
                <div class='form-group det-form-group'>
                    <div>{{field.errors|striptags}}</div>
                    {{field.label_tag}}
                    {{field}}
                </div>
            {% endfor %}
            {% for field in edit_designer %}
                <div class='form-group port-group'>
                    <div>{{field.errors|striptags}}</div>
                    {{field.label_tag}}
                    {{field}}
                </div>
            {% endfor %}
            <button type = 'submit' class = 'btn btn-primary'>Update Account</button>
        </form>
        
    </div>

{% endblock %}
