{% extends 'Users/base_users.html' %}

{% load staticfiles %}
{% load cloudinary %}

{%block app_css%}
    <link rel='stylesheet' type='text/css' href ="{%static 'Users/css/edit.css'%}"/>
    <style type="text/css">
        body {
            background: url("{%static 'Users/img/shirt.png' %}") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .edit-form-wrapper {
            background-image: url("{%static 'Users/img/overlay.png' %}");
        }
    </style>
{%endblock%}

{%block cloudinary%}
    {% cloudinary_includes %}
    {% cloudinary_js_config %}
{% endblock %}

{% block content %}
    <div class="edit-form-wrapper">
        <span style="color:green;font-weight:bold;">{{changes_saved}}</span>
        <form action="{%url 'Users:edit_account' %}" method='POST' >
            {%csrf_token%}
            {% for field in edit_user %}
                <div class='form-group det-form-group'>
                    <div>{{field.errors|striptags}}</div>
                    {{field.label_tag}}
                    {{field}}
                </div>
            {% endfor %}
            {% for field in edit_designer %}
                <div class='form-group port-group'>
                    <div>{{field.errors|striptags}}</div>
                    {{field.label_tag}}
                    {% if field.label == 'Avatar' %}
                        <br/>
                        <a href="#" id="avatar_upload_widget"></a><br/>
                    {%else%}
                    {{field}}
                    {% endif %}
                </div>
            {% endfor %}
            <button type = 'submit' class = 'btn btn-primary'>Update Account</button>
        </form>
        
    </div>
{% endblock %}

{%block scripts%}
    <script src="{%static 'Portfolios/js/uploadwidget.js' %}"></script>
    <script>
      $('#avatar_upload_widget').cloudinary_upload_widget(
        { cloud_name: 'thimbleapp', upload_preset: 'orphans', multiple:false,
          cropping: 'server', cropping_aspect_ratio:1.0, button_caption:"Change Avatar", field_name:"avatar",theme:"minimal",
            thumbnail_transformation: { width: 100, height: 133, crop: 'limit' }},
        function(error, result) {
            // TODO change "Upload Cover" on button to "Change cover"
        });
    </script>
{%endblock%}
