{%extends 'Users/base_users.html'%}
    {%block content%}
                    <form role='form' action="{%url 'Users:login' %}" method='POST'>        {%csrf_token%}
                    {% for field in form %}
                    <div class = 'form-group'>
                            <div>{{field.errors|striptags}}</div>
                    {{field.label_tag}}
                    {{field}}
            </div>
                    {% endfor %}
                    <button type = 'submit' class = 'btn btn-primary'>Login</button>
        </form>
    {%endblock%}