{%extends 'Users/base_users.html'%}
{% load staticfiles %}

{%block app_css%}
    {{block.super}}
    <link rel='stylesheet' type='text/css' href ="{%static 'Users/css/login.css'%}"/>
{%endblock%}

{%block content%}
    <div class="reg-form-wrapper">
        <form role='form' action="{%url 'Users:login' %}" method='POST' id='login_form'>        
            {%csrf_token%}
            {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    {{ error }}
                  {% endfor %}
            {% endif %}
            {% for field in form %}
                <div class="form-group">
                    <div id="{{ field.auto_id }}_errors" class='form-error'>
                        {{ field.errors|striptags }}
                    </div>
                    {{ field }}
                </div>
            {% endfor %}
            <button type = 'submit' class = 'btn btn-primary'>Login</button>
        </form>
    </div>

    <style type="text/css">
    body {
        background: url("{%static 'img/shirt.jpg' %}") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .reg-form-wrapper form {
        background-image: url("{%static 'img/overlay.jpg' %}");
    }
    </style>
{%endblock%}