h3 {
	text-align: center;
}

.container {
	width: 100%;
	color: white;
}

#direct_upload {
	background: rgba(62, 62, 62, 0.5);
	min-height: 100vh;
}

.story-det-wrapper, .chapter-det-wrapper {
	width: 50%;
	float: left;
	padding: 10px;
	text-align: center;
}


.chapter-det-wrapper {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.story-det-wrapper {
	padding-left: 5%;
	padding-right: 5%;
}

@media(max-width:767px){
	.story-det-wrapper, .chapter-det-wrapper{
		width: 100%;
		float: none;
	}

}

.story-det-wrapper label {
	margin-top: 10px;
}

.form-group .check {
	width: 15px;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
}

.demo-tile {
	position: relative;
	background: white;
	border-radius: 3px;
	padding: 3px;
	overflow: hidden;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.demo-tile input {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.supp-group {
	float: left;
	width: 25.4%;
	padding-right: 3px;
}

.cover-group {
	width: 74.6%;
	float: left;
	text-align: center;
}

.cover-group img {
	width: 100%;
}

.supp-group img {
	width: 100%;
}

.form-group {
	margin-bottom: 0px;
	margin-top: 3px;
}

.cover-holder, .supp-holder {
	cursor: pointer;
}

.supp-holder {
	padding-bottom: 3px;
}

.cloudinary-thumbnails .cloudinary-thumbnail img {
	border: none;
}

.cover-group .cloudinary-thumbnails {
	position: absolute;
	padding-right: 3px;
	top: 120px;
	margin: 0px;

}

.cover-group .cloudinary-thumbnail {
	margin: 0px;
}

.supp-group .cloudinary-thumbnails {
	padding-bottom: 3px;
	margin: 0px;

}
.supp-group .cloudinary-thumbnail {
	margin: 0px;
}

.btn-wrapper {
	text-align: center;
	width: 100%;
	display: block;
	padding-bottom: 20px;
}