body {
	text-align: center;
	color: white;
}

.chapter-form {
	max-width: 350px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background: white;
	border-radius: 3px;
	padding: 3px;
}

.formgroup:nth-of-type(2) {

}

#direct_upload {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.demo-tile {
	position: relative;
	background: white;
	border-radius: 3px;
	padding: 3px;
	overflow: hidden;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.demo-tile input {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.demo-tile textarea {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;

}

.supp-group {
	float: left;
	width: 25.4%;
	padding-right: 3px;
}

.cover-group {
	width: 74.6%;
	float: left;
	text-align: center;
}

.cover-group img {
	width: 100%;
}

.supp-group img {
	width: 100%;
}

.form-group {
	margin-bottom: 0px;
	margin-top: 3px;
}

.cover-holder, .supp-holder {
	cursor: pointer;
}

.supp-holder {
	padding-bottom: 3px;
}

.cloudinary-thumbnails .cloudinary-thumbnail img {
	border: none;
}

.cover-group .cloudinary-thumbnails {
	position: absolute;
	padding-right: 3px;
	top: 120px;
	margin: 0px;

}

.cover-group .cloudinary-thumbnail {
	margin: 0px;
}

.supp-group .cloudinary-thumbnails {
	padding-bottom: 3px;
	margin: 0px;

}
.supp-group .cloudinary-thumbnail {
	margin: 0px;
}

