#name-wrapper {
	padding-bottom: 15px;
	text-align: center;
}

#by-wrapper {
	text-align: center;
}

#by-wrapper > img {
	width: 40px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

#by-wrapper > p {
	display: inline-block;
	margin-bottom: 0px;
}

#desc-wrapper {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#portfolio-header {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;

}

#portfolio-header > div {
	margin-left: auto;
	margin-right: auto;
}

#prof-pic-wrapper {
	max-width: 150px;	
}

.chapter-title {
	padding-top: 15px;
	text-align: center;
}

.chapter-img-wrapper {
	position: relative;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background: white;
	overflow: hidden;
	padding: 15px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 8px;
}

.thumb-img-list {
	width: 26%;
	float: left;
	padding-right: 15px;
}

.thumb-img-wrapper img {
	width: 100%;
	padding-bottom: 15px;
}

.thumb-img-wrapper:last-child img {
	padding-bottom: 0px;
}

.cover-img {
	width: 74%;
	height: 100%;
	float: left;
}

.cover-img img {
	width: 100%;
}

@media (min-width: 992px) {
	#portfolio-header {
		position: fixed;
		width: 30%;
		padding-left: 30px;
		padding-right: 30px;
	}
	#portfolio-content {
		float: right;
		width: 70%;
	}
	#chapter-list {
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
	}
}


