.story-header {
	left: 8%;
	position: fixed;
	display: inline-block;
}

#name-wrapper {
	padding-top: 20px;
	padding-bottom: 15px;
	text-align: center;
	width: 100%;
	display: inline-block;
}

#name-wrapper h1 {
	font-size: 40px;	
}

#by-wrapper {
	text-align: center;
	width: 100%;
	display: inline-block;
}

#by-wrapper > img {
	width: 40px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

#by-wrapper > p {
	display: inline-block;
	margin-bottom: 0px;
}

#desc-wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	display: inline-block;
}

#prof-pic-wrapper {
	max-width: 150px;	
}

#chapter-list {
	width: 60%;
	display: inline-block;
	float: right;
}

.chapter-title {
	text-align: center;
}

.chapter-img-wrapper {
	position: relative;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background: white;
	overflow: hidden;
	padding: 15px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 8px;
}

.thumb-img-list {
	width: 26.1%;
	float: left;
	padding-right: 15px;
}

.thumb-img-wrapper img {
	width: 100%;
	padding-bottom: 15px;
}

.thumb-img-wrapper:last-child img {
	padding-bottom: 0px;
}

.cover-img {
	width: 73.9%;
	height: 100%;
	float: left;
}

.cover-img img {
	width: 100%;
}

@media(max-width:767px){}
@media(max-width:991px){
	.story-header {
		position: relative;
		width: 100%;
		left: 0%;
	}
	#chapter-list {
		width: 100%;
	}
}
@media(min-width:992px){
	.story-header {
		max-width: 330px;
	}
}
@media(min-width:1200px){}

