{%extends 'Portfolios/base_portfolio.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block app_css%}
	<link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/story.css'%}"/>
	<link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/fontello.css'%}"/>
{%endblock%}


{%block content%}
	<div class="social-wrapper">
		<span class="icon-facebook"></span>
		<a class="twitter popup" href="http://twitter.com/share?text={{collection.title}} by {{portfolio_data.user__first_name}} on @ThimbleApp">
			<span class="icon-twitter"></span>
		</a>
		<a class="tumblr" href="#">
			<span class="icon-tumblr"></span>
		</a>
		<a class="pinterest" href="javascript:pinIt();">
			<span class="icon-pinterest"></span>
		</a>
	</div>
	<div class="story-header">
		<div id="by-wrapper">
			{%if not avatar%}
			<img src="{%static 'Users/img/user-default.png' %}" class="img-responsive img-circle"/>
	        {%else%}
	          <img src="{%cloudinary_url portfolio_data.avatar width='200' height='200'%}" class="img-responsive img-circle"/>
	        {%endif%}
			<p class="">By <a href="{%url 'Portfolios:render_portfolio' username%}">{{request.user.get_full_name}}</a></p>
		</div>
		<div id="name-wrapper">
			<h1>{{collection.title}}</h1>
		</div>
		<div id="desc-wrapper">
			<p>{{collection.description}}</p>
		</div>
		<div class="like-box">
			<div class="like-text-wrapper">
				<p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> LIKES ({{collection.likes}})</p>
			</div>
		</div>
		<div class="comment-box">
			<div class="comment-text-wrapper">
				<p><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> COMMENTS (<span id="num-comments">{{collection.comments}}</span>)</p>
			</div>
			<!-- Load comments -->
			<div class="comment-bin">
				{%for comment in comments%}
					<div class="commenter-wrapper">
						<!--img src="http://placemi.com/100x100" class="img-responsive img-circle"-->
						<p class="commenter-name">{{comment.commenter}}</p>
						<p class="comment">{{comment.comment}}</p>
					</div>
				{%endfor%}
			</div>
			{%if user.is_authenticated%}
				<form class="comment-form" action="" method='POST' data-username="{{username}}" data-collectionid="{{collection_id}}" data-commenter="{{user.username}}">
					{%csrf_token%}
	                <div class = 'form-group'>
	                    <div></div>
	                    <input class="form-control"  id="id_comment" name="comment" required></input>
	                </div>
	            	<button class="comment-btn" type = 'submit' class = 'btn btn-primary'>Post</button>
	        	</form>
        	{%endif%}
		</div>
	</div>

<!-- 	<div id="chapter-list">
		{%for chapter in entries%}
			<div class='chapter-title'>
				<h2>{{chapter.entry_title}}</h2>
				<div class='chapter-description'>
					<p>
						{{chapter.entry_desc}}
					</p>
				</div>
				{%if user.is_authenticated and username == user.username%}
					<a href="{% url 'Portfolios:edit_chapter' username story_id slug chapter.entry_id %}">Edit Chapter</a>
				{%endif%}
			</div>
			<div class="chapter-img-wrapper">
				<div class="thumb-img-list">
					{% for photo in chapter.photos %}
						<div class="thumb-img-wrapper">
			  				{%cloudinary photo width='400' height='550' class='img-responsive'%}
		  				</div>
	  				{% endfor %}
				</div>
				<div class="cover-img">
					{%cloudinary chapter.cover_photo width='400' height='550' class='img-responsive'%}
				</div>
			</div>
		{%endfor%}
	</div> -->
{%endblock%}

{%block scripts%}
	{{block.super}}
	<script>
		function pinIt()
		{
		  var e = document.createElement('script');
		  e.setAttribute('type','text/javascript');
		  e.setAttribute('charset','UTF-8');
		  e.setAttribute('src','https://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);
		  document.body.appendChild(e);
		}
	</script>
	<script>
	$(document).ready(function(){
		CommunityActivities.csrftoken = $.cookie('csrftoken');
		CommunityActivities.init();   

		// function fbShare(url, title, descr, image, winWidth, winHeight) {
		// 	var winTop = (screen.height / 2) - (winHeight / 2);
		// 	var winLeft = (screen.width / 2) - (winWidth / 2);
		// 	window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width='+winWidth+',height='+winHeight);
		// }
		// $('.icon-facebook').click(function() {
		// 	fbShare(window.location.href, '{{collection.title}}', '{{collection.description}}', 'http://goo.gl/dS52U', 520, 350);
		// });   

		// $('.popup').click(function(event) {
		// 	var width  = 575,
		// 	height = 400,
		// 	left   = ($(window).width()  - width)  / 2,
		// 	top    = ($(window).height() - height) / 2,
		// 	url    = this.href,
		// 	opts   = 'status=1' +
		// 	',width='  + width  +
		// 	',height=' + height +
		// 	',top='    + top    +
		// 	',left='   + left;

		// 	window.open(url, 'twitter', opts);

		// 	return false;
		// });

		// $('.tumblr').click(function(event) {
		// 	var width  = 575,
		// 	height = 400,
		// 	left   = ($(window).width()  - width)  / 2,
		// 	top    = ($(window).height() - height) / 2,
		// 	url    = 'https://www.tumblr.com/widgets/share/tool?title=hello',
		// 	opts   = 'status=1' +
		// 	',width='  + width  +
		// 	',height=' + height +
		// 	',top='    + top    +
		// 	',left='   + left;
		// 	var now = window.location.href;
		// 	url += '?shareSource=legacy&canonicalUrl=&posttype=link'
		// 	// url += '&content=';
		// 	// url += now;
		// 	url += '&title=';
		// 	url += '&caption={{collection.title}} by {{portfolio_data.user__first_name}} on Thimble';
		// 	url += '&content=';
		// 	url += window.location.host;
		// 	url += window.location.pathname;
		// 	// url += encodeURIComponent('{{collection.title}} by {{portfolio_data.user__first_name}} on Thimble');

		// 	window.open(url, 'tumblr', opts);

		// 	return false;
		// });

	});
	</script>
	<script type='text/javascript' src="{%static 'Portfolios/js/social.js' %}"></script>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%endblock%}