{%extends 'Portfolios/base_portfolio.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block cloudinary%}
    {% cloudinary_includes %}
    {% cloudinary_js_config %}
{% endblock %}

{%block app_css%}
  <link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/create_story.css'%}"/>
{%endblock%}

{%block content%}
	<div id="direct_upload" class="row">
        {{error}}
		<form method='post' action="{%url 'Portfolios:create_design_story' request.user.username%}">
			{%csrf_token%}
            <div class="story-det-wrapper">
                <h3> Create a Story</h3>
        
                <div class="form-group">
                    <div></div>
                    <input class="form-control" id="id_title" maxlength="30" name="title" type="text" placeholder="Title Your Story">
                </div>
            
                <div class="form-group">
                    <div></div>
                    <textarea class="form-control" cols="40" id="id_description" name="description" rows="5" placeholder="Tell the stories piece"></textarea>
                </div>
            
                <div class="form-group">
                    <div></div>
                    <label for="id_wip">Work in Progress?</label>
                    <input class="form-control check" id="id_wip" name="wip" type="checkbox">
                </div>

            </div>


            <div class="chapter-det-wrapper">
                <h3>Create Your First Chapter</h3>


                <div class="demo-tile">
                    <div class="form-group title-group">
                            <input class="form-control" id="id_entry_title" name="entry_title" type="text" placeholder="Title the Pieces First Chapter">
                    </div>
                    <div class="form-group supp-group">
                        <img class="supp-holder" src="{%static 'Portfolios/img/placeholder.png' %}">
                            <a style="display: none;" href="#" id="supp_upload_widget_opener"></a>  
                    </div>
                    <div class="form-group cover-group">
                        <img class="cover-holder" src="{%static 'Portfolios/img/placeholder.png' %}">
                            <a style="display: none;" href="#" id="cover_upload_widget_opener"></a>
                    </div>
                </div>


            </div>
            <div class="btn-wrapper">
            <button type='submit' class='btn btn-primary' id="create-btn" disabled="true">Create</button>
            </div>
        </form>

            <script src="{%static 'Portfolios/js/uploadwidget.js' %}"></script>

            <script type="text/javascript">
                function updateNumPhotos(){
                    photos_upload++;
                    if(photos_upload > 0)
                    {
                        $("#create-btn").attr("disabled",false);
                    }
                    if(photos_upload > 2)
                    {
                        $('.supp-holder').css("display", "none");
                    }
                }

                $('.cover-holder').click(function() {
                    cloudinary.openUploadWidget(
                        { cloud_name: 'thimbleapp', upload_preset: 'orphans', multiple:false,
                        cropping: 'server', cropping_aspect_ratio:0.73, button_caption:"Upload Cover", field_name:"cover_photo",theme:"minimal", thumbnails: '.cover-group', thumbnail_transformation: { width: 400, height: 550, crop: 'limit' }},
                        function(error, result) {
                            // TODO change "Upload Cover" on button to "Change cover"
                        });
                });

              var photos_upload = 0;
                    $('.supp-holder').click(function() {
                        cloudinary.openUploadWidget(
                            { cloud_name: 'thimbleapp', upload_preset: 'orphans', multiple:true,
                            cropping: 'server', cropping_aspect_ratio:0.73, button_caption:"Upload Supplementary", field_name:"entry_photos", theme:"minimal", thumbnails: '.supp-group', thumbnail_transformation: { width: 400, height: 550, crop: 'limit' }},
                            function(error, result) {
                                updateNumPhotos();
                                            // TODO error handle here
                                        });
                    });



            //   $('#cover_upload_widget_opener').cloudinary_upload_widget(
            //     { cloud_name: 'thimbleapp', upload_preset: 'orphans', multiple:false,
            //       cropping: 'server', cropping_aspect_ratio:0.73, button_caption:"Upload Cover", field_name:"cover_photo",theme:"minimal",
            // thumbnail_transformation: { width: 400, height: 550, crop: 'limit' }},
            //     function(error, result) {
            //         // TODO change "Upload Cover" on button to "Change cover"
            //     });


            //   var photos_upload = 0;
            //   $('#supp_upload_widget_opener').cloudinary_upload_widget(
            //     { cloud_name: 'thimbleapp', upload_preset: 'orphans', multiple:true,
            //       cropping: 'server', cropping_aspect_ratio:0.73, button_caption:"Upload Supplementary", field_name:"entry_photos", theme:"minimal",
            // thumbnail_transformation: { width: 400, height: 550, crop: 'limit' }},
            //     function(error, result) {
            //         updateNumPhotos();
            //             // TODO error handle here
            //     });
            </script>

		
        <div class='status' hidden='true'>
            <h3>Photo Upload Status</h3>
        </div>
	</div>

{%endblock%}