{%extends 'Portfolios/base_portfolio.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block cloudinary%}
    {% cloudinary_includes %}
    {% cloudinary_js_config %}

{% endblock %}

{%block app_css%}
  <link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/create_chapter.css'%}"/>
{%endblock%}


{%block content%}
	<div id="direct_upload" class="row">
        <h2>Add a New Chapter</h2>
        {{error}}
		<form method='POST' id='create-chapter' action="{% url 'Portfolios:create_chapter' request.user.username design_story_id slug%}" class="chapter-form">
			{%csrf_token%}
            <div class="demo-tile">
                <div class="form-group title-group">
                    <div id="{{edit_entry.entry_title.auto_id}}_errors" class='form-error'>
                        {{edit_entry.entry_title.errors|striptags}}
                    </div>
                    {{edit_entry.entry_title}}
                </div>

                <div class="form-group description-group">
                    <div id="{{edit_entry.entry_desc.auto_id}}_errors" class='form-error'>
                        {{edit_entry.entry_desc.errors|striptags}}
                    </div>    
                    {{edit_entry.entry_desc}}
                </div>
                
                <div class="form-group supp-group">
                    <img class="supp-holder" src="{%static 'Portfolios/img/placeholder.png' %}">
                        <a style="display: none;" href="#" id="supp_upload_widget_opener"></a>  
                </div>

                <div class="form-group cover-group">
                    <img class="cover-holder" src="{%static 'Portfolios/img/placeholder.png' %}">
                        <a style="display: none;" href="#" id="cover_upload_widget_opener"></a>
                </div>
            </div>

            <button type = 'submit' class = 'btn btn-primary' id="create-btn" disabled='true'>Create</button>
		</form>

        <style type="text/css">
        body {
            background-image: url("{%static 'Users/img/overlay.png' %}"), url("{%static 'Users/img/shirt.png' %}");
            background-repeat: repeat, no-repeat; 
            background-position: left top, center center;
            background-size: auto auto, cover;
            -webkit-background-size: auto auto, cover;
            -moz-background-size: auto auto, cover;
            -o-background-size: auto auto, cover;
        }
        </style>
	</div>

{%endblock%}

{%block scripts%}
    <script src="{%static 'Portfolios/js/uploadwidget.js' %}"></script>
    <script type="text/javascript">
        function updateNumPhotos(){
                photos_upload++;
                if(photos_upload > 0)
                {
                    $("#create-btn").attr("disabled",false);
                }
                if(photos_upload > 2)
                {
                    $('.supp-holder').css("display", "none");
                }
            }

        var widget_options = { cloud_name: 'thimbleapp', upload_preset: 'orphans', multiple:false, form:'#create-chapter',
          cropping: 'server', cropping_aspect_ratio:0.73, field_name:"",theme:"minimal",thumbnails: '',
            thumbnail_transformation: { width: 400, height: 550, crop: 'fill' }};

        $('.cover-holder').click(function() {
                widget_options.field_name = 'cover_photo';
                widget_options.thumbnails = '.cover-group';
                cloudinary.openUploadWidget(widget_options,
                    function(error, result) {
                        // TODO change "Upload Cover" on button to "Change cover"
                    });
            });

          var photos_upload = 0;
            $('.supp-holder').click(function() {
                widget_options.field_name = 'entry_photos';
                widget_options.thumbnails = '.supp-group';
                cloudinary.openUploadWidget(widget_options,
                    function(error, result) {
                        updateNumPhotos();
                        // TODO error handle here
                    });
            });

    </script>
{%endblock%}