{%extends 'Portfolios/base_portfolio.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block cloudinary%}
    {% cloudinary_includes %}
    {% cloudinary_js_config %}

    <script>
        $(function () {
            $('#direct_upload input[type="file"]').fileupload({
                dropZone: '#direct_upload',

                progress: function () {
                    $('.status_value').text('Uploading...');
                },
            }).on('cloudinarydone', function (e, data) {
                $('.status_value').text('Upload Complete! Finish creating your account by clicking Register');
            });
        });
    </script>
    
{% endblock %}

{%block portfolio_content%}
	<div class="row" style="width:30%; margin:0 auto">
		<form method='post' action="{%url 'Portfolios:create_design_story' subdomain%}">
			{%csrf_token%}
            {% for field in design_story_form %}
                <div class = 'form-group'>
                    <div>{{field.errors|striptags}}</div>
                    {{field.label_tag}}
                    {{field}}
                </div>
            {% endfor %}
            {%for field in entry_form%}
                <div class = 'form-group'>
                    <div>{{field.errors|striptags}}</div>
                    {% if not field.field.is_hidden %}
                        {{field.label_tag}}
                    {% endif %}
                    {{field}}
                </div>
            {%endfor%} 
            <button type = 'submit' class = 'btn btn-primary'>Create</button>
		</form>
	</div>
    <div class='status'>
        <h3>Status</h3>
        <div class='status_value'></div>
    </div>
{%endblock%}