{%extends 'Portfolios/base_portfolio.html'%}
{%load staticfiles%}
{%load cloudinary%}

{%block cloudinary%}
    {% cloudinary_includes %}
    {% cloudinary_js_config %}
{% endblock %}

{%block app_css%}
    <link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/create_story.css'%}"/>
    <style type="text/css">
        body {
            background-image: url("{%static 'Users/img/overlay.png' %}"), url("{%static 'Users/img/shirt.png' %}");
            background-repeat: repeat, no-repeat; 
            background-position: left top, center center;
            background-size: auto auto, cover;
            -webkit-background-size: auto auto, cover;
            -moz-background-size: auto auto, cover;
            -o-background-size: auto auto, cover;
        }
    </style>
{%endblock%}

{%block content%}
	<div id="direct_upload" class="row">
		<form method='post' id='create-story' action="{%url 'Portfolios:create_design_story' request.user.username%}">
			{%csrf_token%}
            <div class="story-det-wrapper">
                <h3> Create a Story</h3>

                {% if design_story_form.non_field_errors %}
                    {% for error in design_story_form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}

                {% for field in design_story_form %}
                    <div class="form-group">
                        <div id="{{ field.auto_id }}_errors" class='form-error'>
                            {{ field.errors|striptags }}
                        </div>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

            <div class="chapter-det-wrapper">
                <h3>Create Your First Chapter</h3>
                <div class="demo-tile">
                    <div class="form-group title-group">
                        <div id="{{entry_form.entry_title.auto_id}}_errors" class='form-error'>
                            {{entry_form.entry_title.errors|striptags}}
                        </div>
                        {{entry_form.entry_title}}
                    </div>

                    <div class="form-group description-group">
                        <div id="{{entry_form.entry_desc.auto_id}}_errors" class='form-error'>
                            {{entry_form.entry_desc.errors|striptags}}
                        </div>    
                        {{entry_form.entry_desc}}
                    </div>
                    
                    <div class="form-group supp-group">
                        <img class="supp-holder" src="{%static 'Portfolios/img/placeholder.png' %}">
                            <a style="display: none;" href="#" id="supp_upload_widget_opener"></a>  
                    </div>

                    <div class="form-group cover-group">
                        <img class="cover-holder" src="{%static 'Portfolios/img/placeholder.png' %}">
                            <a style="display: none;" href="#" id="cover_upload_widget_opener"></a>
                    </div>

                </div>
            </div>
            <div class="btn-wrapper">
                <button type='submit' class='btn btn-primary' id="create-btn" disabled="true">Create</button>
            </div>
        </form>
	</div>
{%endblock%}

{%block scripts%}
    <script src="{%static 'Portfolios/js/uploadwidget.js' %}"></script>
    <script type="text/javascript">

        function updateNumPhotos(){
            photos_upload++;
            if(photos_upload > 0)
            {
                $("#create-btn").attr("disabled",false);
            }
            if(photos_upload > 2)
            {
                $('.supp-holder').css("display", "none");
            }
        }

        var widget_options = {
            cloud_name: 'thimbleapp', upload_preset: 'orphans', multiple:false, form:'#create-story',
            cropping: 'server', cropping_aspect_ratio:0.73, field_name:"",theme:"minimal", thumbnails: '',thumbnail_transformation: { width: 400, height: 550, crop: 'fill'}
        };

        $('.cover-holder').click(function() {
            widget_options.field_name = 'cover_photo';
            widget_options.thumbnails = '.cover-group';
            cloudinary.openUploadWidget(widget_options,function(error, result) {
                    // TODO change "Upload Cover" on button to "Change cover"
            });
        });

        var photos_upload = 0;
        $('.supp-holder').click(function() {
            widget_options.field_name = 'entry_photos';
            widget_options.thumbnails = '.supp-group';
            cloudinary.openUploadWidget(widget_options,
                function(error, result) {
                    updateNumPhotos();
                    // TODO error handle here
                });
        });
    </script>    
{%endblock%}