{%extends 'Portfolios/base_portfolio.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block cloudinary%}
    {% cloudinary_includes %}
    {% cloudinary_js_config %}

{% endblock %}

{%block app_css%}
  <link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/create_chapter.css'%}"/>
{%endblock%}


{%block content%}
	<div id="direct_upload" class="row" style="width:50%; margin:2% auto">
        <h2>Add a New Chapter</h2>
        {{error}}
		<form method='POST' action="{% url 'Portfolios:create_chapter' request.user.username design_story_id slug%}" class="chapter-form">
			{%csrf_token%}
            {%for field in entry_form%}
                <div class = 'form-group'>
                    <div>{{field.errors|striptags}}</div>
                    {{field.label_tag}}
                    {% if field.label == 'Main Photo' %}
                        <br/>
                        <a href="#" id="cover_upload_widget_opener"></a>
                    {% elif field.label == 'Supplementary Photos'%}
                        <br/>
                        <a href="#" id="supp_upload_widget_opener"></a>
                    {% else %}
                        {{field}}
                    {% endif %}
                </div>
            {%endfor%} 
            <button type = 'submit' class = 'btn btn-primary' id="create-btn" disabled='true'>Create</button>
		</form>

    <script src="{%static 'Portfolios/js/uploadwidget.js' %}"></script>
    <script type="text/javascript">
        function updateNumPhotos(){
            photos_upload++;
            if(photos_upload > 0)
            {
                $("#create-btn").attr("disabled",false);
            }
        }

      $('#cover_upload_widget_opener').cloudinary_upload_widget(
        { cloud_name: 'thimbleapp', upload_preset: 'orphans', multiple:false,
          cropping: 'server', cropping_aspect_ratio:0.5, button_caption:"Upload Cover", field_name:"cover_photo",theme:"minimal"},
        function(error, result) {
            // TODO change "Upload Cover" on button to "Change cover"
        });

      var photos_upload = 0;
      $('#supp_upload_widget_opener').cloudinary_upload_widget(
        { cloud_name: 'thimbleapp', upload_preset: 'orphans', multiple:true,
          cropping: 'server', cropping_aspect_ratio:0.5, button_caption:"Upload Supplementary", field_name:"entry_photos", theme:"minimal"},
        function(error, result) {
            updateNumPhotos();
                // TODO error handle here
        });
    </script>

	</div>

{%endblock%}