{%extends 'Portfolios/base_portfolio.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block app_css%}
	<link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/edit_story.css'%}"/>
{%endblock%}


{%block content%}
    <div class="row">
        <h2>Edit Design Story</h2>
        <span style="color:green;font-weight:bold;">{{changes_saved}}</span>
        <span style="color:red;font-weight:bold;">
            {%if error%}
                {{error}}
            {%endif%}
        </span>
        <form method='post' action="{%url 'Portfolios:edit_story' username story_id slug%}">
            {%csrf_token%}
            <button type='submit' class='btn btn-primary' id="save-btn">Save</button>
            
            <div class="det-wrapper">
            {%for field in edit_story%}
                <div class ='form-group'>
                    <div>{{field.errors|striptags}}</div>
                    {{field.label_tag}}
                    {{field}}
                </div>
            {%endfor%}
            </div>

            <div id="chapter-list">
                {%for chapter in entries%}
                <div class="chapter-wrapper">
                    <h3>{{chapter.entry_title}}</h3>
                    <input name="photo_delete" type="checkbox" value="{{chapter.entry_id}}"/> Delete Chapter
                    <div>
                        {%cloudinary chapter.cover_photo width='200' height='275' class='img-responsive'%}
                    </div>
                </div>
                {%endfor%}
            </div>
        </form>
    </div>
{%endblock%}
