{%extends 'Portfolios/base_portfolio.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block app_css%}
  <link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/profile.css'%}"/>
{%endblock%}


{%block content%}
  <div class="profile-header">
    <div class="profile-line profile-line-left">
      <p class="text-followers"><span>{{portfolio_data.followers}}</span><br>Followers</p>
      <p class="text-following"><span>{{portfolio_data.following}}</span><br>Following</p>
    </div>
    <div class="profile-pic-block">
      <div class="profile-pic-wrapper">
        {%if not portfolio_data.avatar == None%}
          <img src="{%cloudinary_url portfolio_data.avatar width='200' height='200'%}" class="img-responsive img-circle"/>
        {%else%}
          <img src="{%static 'Users/img/user-default.png' %}" class="img-responsive img-circle"/>
        {%endif%}
      </div>
    </div>
    <div class="profile-line profile-line-right">
      <p class="text-favorites">{{favorites}}<br>Favorites</p>
      <p class="text-pieces">{{num_pieces}}<br>Pieces</p>
    </div>
  </div>
  <h2 class="profile-name">{{portfolio_data.user__first_name}} {{portfolio_data.user__last_name}}</h2>

  {% if not portfolio_data.user == user.username and user.is_authenticated %}
    <div class="follow-wrapper">
      {%if not is_following %}
        <button class="follow-btn" id='follow-btn' data-username="{{portfolio_data.user}}">Follow</button>
      {%else%}
        <button class="follow-btn" id='unfollow-btn' data-username="{{portfolio_data.user}}">Following</button>
      {%endif%} 
    </div>
  {%endif%}

  <div class="bio-wrapper">
    <p class="bio-text">{{portfolio_data.bio}}</p>
  </div>


  <div class="row piece-grid">
    {%for story in stories%}
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="piece">
          <div class="piece-thumb-container">
            {%url 'Portfolios:render_design_story' portfolio_data.user story.0.design_story_id story.0.title|slugify as dest%}
            <div class="piece-overlay" style="cursor:pointer;" onclick='goToStory("{{dest}}", event)'>
              <p><strong>{{story.0.title}}</strong></p>
              <p>{{story.0.date_created}}</p>
              <br></br>
              <!--p> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  14,123</p-->
              <p> <span class="glyphicon glyphicon-heart" aria-hidden="true" ></span>  <span class="likes-count">{{story.0.likes}}</span></p>
              <p> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="comments-count">{{story.0.comments}}</span></p>

              {%if user.is_authenticated%}
                {% if story.0.design_story_id in likes %}
                  <button type="button" class="btn btn-default btn-lg unlike-btn" data-storyid="{{story.0.design_story_id}}"
                    data-username="{{portfolio_data.user}}">
                    <span class='text'>Unlike</span> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  </button>
                {%else%}
                  <button type="button" class="btn btn-default btn-lg like-btn" data-storyid="{{story.0.design_story_id}}"
                    data-username="{{portfolio_data.user}}">
                    <span class='text'>Like</span> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  </button>
                {%endif%}
              {%endif%}

              <button type="button" class="btn btn-default btn-lg share-btn">
                <span class='text'>Share</span> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
            <img src="{%cloudinary_url story.1.cover_photo width='400' height='550' %}" class="img-responsive">
          </div>
        </div>
      </div>
    {%endfor%}
  </div>
       
{%endblock%}

{%block scripts%}
{{block.super}}

<script>

  $(document).ready(function(){
      CommunityActivities.authenticatedUsername = "{{user.username}}";
      CommunityActivities.csrftoken = $.cookie('csrftoken');
      CommunityActivities.init();

  });

    function goToStory(dest, event){
        if(event.target.classList[0] != "btn" && event.target.parentElement.classList[0] != "btn"){
            window.location.href = dest;
        }
    }

</script>
{%endblock%}
