{%extends 'Portfolios/base_portfolio.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block app_css%}
  <link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/profile.css'%}"/>
  <link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/fontello.css'%}"/>
{%endblock%}


{%block content%}
  <div class="profile-header">
    <div class="profile-line profile-line-left">
      <p class="text-followers"><span>{{designer.followers}}</span><br>Followers</p>
      <p class="text-following"><span>{{designer.following}}</span><br>Following</p>
    </div>
    <div class="profile-pic-block">
      <div class="profile-pic-wrapper">
        {% if not designer.avatar%}
          <img src="{%static 'Users/img/user-default.png' %}" class="img-responsive img-circle"/>
        {%else%}
          <img src="{%cloudinary_url designer.avatar width='200' height='200'%}" class="img-responsive img-circle"/>
        {%endif%}
      </div>
    </div>
    <div class="profile-line profile-line-right">
      <p class="text-favorites">{{favorites}}<br>Favorites</p>
      <p class="text-pieces">{{num_pieces}}<br>Pieces</p>
    </div>
  </div>
  <h2 class="profile-name">{{designer.user.get_full_name}}</h2>
  <h4 class="text-center"> {{designer.location}}</h4>

  {% if not designer.user.get_username == user.get_username and user.is_authenticated %}
    <div class="follow-wrapper">
      {%if not is_following %}
        <button class="follow-btn" id='follow-btn' data-username="{{designer.user}}">Follow</button>
      {%else%}
        <button class="follow-btn" id='unfollow-btn' data-username="{{designer.user}}">Following</button>
      {%endif%} 
    </div>
  {%endif%}

  <div class="bio-wrapper">
    <p class="bio-text">{{designer.bio}}</p>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="collection-container">
        <div class="det-container">
          <h3>Collection Title</h3>
          <h3>Spring 2015</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere odio ut vehicula mollis. Suspendisse nulla ipsum, ultrices at purus quis, pellentesque rutrum magna. </p>
        </div>
        <div class="thumb-container">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="collection-container">
        <div class="det-container">
          <h3>Collection Title</h3>
          <h3>Spring 2015</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere odio ut vehicula mollis. Suspendisse nulla ipsum, ultrices at purus quis, pellentesque rutrum magna. </p>
        </div>
        <div class="thumb-container">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="collection-container">
        <div class="det-container">
          <h3>Collection Title</h3>
          <h3>Spring 2015</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere odio ut vehicula mollis. Suspendisse nulla ipsum, ultrices at purus quis, pellentesque rutrum magna. </p>
        </div>
        <div class="thumb-container">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
          <img class="img-responsive thumb-img" src="http://placemi.com/300x400">
        </div>
      </div>
    </div>
  </div>

  <div class="row piece-grid">
    {%for collection in collections%}
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="piece">
          <div class="piece-thumb-container">
            {%url 'Portfolios:render_collection' designer.user collection.id collection.title|slugify as dest%}
            <div class="piece-overlay" style="cursor:pointer;" onclick='goToStory("{{dest}}", event)'>
              <p><strong>{{collection.title}}</strong></p>
              <p>{{collection.date_created}}</p>
              <br></br>
              <p> <span class="glyphicon glyphicon-heart" aria-hidden="true" ></span>  <span class="likes-count">{{collection.likes}}</span></p>
              <p> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="comments-count">{{collection.comments}}</span></p>

              {%if user.is_authenticated%}
                {% if collection.id in likes %}
                  <button type="button" class="btn btn-default btn-lg unlike-btn" data-collectionid="{{collection.id}}"
                    data-username="{{portfolio_data.user}}">
                    <span class='text'>Unlike</span> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  </button>
                {%else%}
                  <button type="button" class="btn btn-default btn-lg like-btn" data-collectionid="{{collection.id }}"
                    data-username="{{designer.user}}">
                    <span class='text'>Like</span> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  </button>
                {%endif%}
              {%endif%}
                <!--div class="social-wrapper">
                    <span class="icon-facebook"></span>
                    <a class="twitter popup" href="http://twitter.com/share?text={{design_story.title}} by {{portfolio_data.user__first_name}} on @ThimbleApp">
                        <span class="icon-twitter"></span>
                    </a>
                    <a class="tumblr" href="#">
                        <span class="icon-tumblr"></span>
                    </a>
                    <a class="pinterest" href="javascript:pinIt();">
                        <span class="icon-pinterest"></span>
                    </a>
                </div-->
            </div>
            <!--img src="{%cloudinary_url story.1.cover_photo width='400' height='550' %}" class="img-responsive"-->
          </div>
        </div>
      </div>
    {%endfor%}
  </div>
       
{%endblock%}

{%block scripts%}
  {{block.super}}

  <script>

    $(document).ready(function(){
        CommunityActivities.csrftoken = $.cookie('csrftoken');
        CommunityActivities.init();

		  // function fbShare(url, title, descr, image, winWidth, winHeight) {
  		// 	var winTop = (screen.height / 2) - (winHeight / 2);
  		// 	var winLeft = (screen.width / 2) - (winWidth / 2);
  		// 	window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width='+winWidth+',height='+winHeight);
  		// }
  		// $('.icon-facebook').click(function() {
  		// 	fbShare(window.location.href, '{{design_story.title}}', '{{design_story.description}}', 'http://goo.gl/dS52U', 520, 350);
  		// });

  		// $('.popup').click(function(event) {
  		// 	var width  = 575,
  		// 	height = 400,
  		// 	left   = ($(window).width()  - width)  / 2,
  		// 	top    = ($(window).height() - height) / 2,
  		// 	url    = this.href,
  		// 	opts   = 'status=1' +
  		// 	',width='  + width  +
  		// 	',height=' + height +
  		// 	',top='    + top    +
  		// 	',left='   + left;

  		// 	window.open(url, 'twitter', opts);

  		// 	return false;
  		// });

  		// $('.tumblr').click(function(event) {
  		// 	var width  = 575,
  		// 	height = 400,
  		// 	left   = ($(window).width()  - width)  / 2,
  		// 	top    = ($(window).height() - height) / 2,
  		// 	url    = 'https://www.tumblr.com/widgets/share/tool?title=hello',
  		// 	opts   = 'status=1' +
  		// 	',width='  + width  +
  		// 	',height=' + height +
  		// 	',top='    + top    +
  		// 	',left='   + left;
  		// 	var now = window.location.href;
  		// 	url += '?shareSource=legacy&canonicalUrl=&posttype=link'
  		// 	// url += '&content=';
  		// 	// url += now;
  		// 	url += '&title=';
  		// 	url += '&caption={{design_story.title}} by {{portfolio_data.user__first_name}} on Thimble';
  		// 	url += '&content=';
  		// 	url += window.location.host;
  		// 	url += window.location.pathname;
  		// 	// url += encodeURIComponent('{{design_story.title}} by {{portfolio_data.user__first_name}} on Thimble');

  		// 	window.open(url, 'tumblr', opts);

  		// 	return false;
  		// });
    });

    function goToStory(dest, event){
      // don't have time to make a nice fancy solution, but this works
      // checks if target element of click is like or share buttons, if so it doesn't go to the profile
      if(event.target.classList[0] != "btn" && event.target.parentElement.classList[0] != "btn"
              && event.target.classList[0] != "social-wrapper" &&
              event.target.parentElement.classList[0] != "social-wrapper" &&
              event.target.parentElement.parentElement.classList[0] != "social-wrapper"){
          window.location.href = dest;
      }
    }

  </script>
	<script src="{%static 'Portfolios/js/social.js' %}"></script>
  <script src="{%static 'Portfolios/js/profile.js' %}"></script>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%endblock%}
