{%extends 'Portfolios/base_portfolio.html' %}
{%load staticfiles%}
{% load cloudinary %}
{% load get_range %}

{%block portfolio_css%}
	<link rel='stylesheet' type='text/css' href ="{%static "Portfolios/css/story.css"%}"/>
{%endblock%}

{%block portfolio_header%}
	<div id="name-wrapper">
		<h2>{{design_story.title}}</h2>
	</div>
	<div id="by-wrapper">
		<img src="{%cloudinary_url user.designer.prof_pic width='200' height='200'%}" class="img-responsive img-circle" nopin='nopin'>
		<p class="lead">By <a href="{%url 'Portfolios:render_portfolio' user.username%}">{{user.first_name}} {{user.last_name}}</a></p>
	</div>
	<div id="desc-wrapper">
		<h3>About this piece</h3>
		<p class="lead">{{design_story.description}}</p>
	</div>
	</div>
{%endblock%}


{%block portfolio_content%}
	<div id="chapter-list">
		{%for chapter in entries%}
			<div class='row'>
				<h3>{{chapter.entry_title}}</h3>
			</div>
			<div class="row">
				<div class="col-xs-12 cover-img">
					<!-- TODO get cover image -->
					{%cloudinary chapter.cover_photo width='800' height='600' class='img-responsive'%}
				</div>
			</div>
			<div class="row">
				{% for i in chapter.num_photos|get_range %}
					{% with j=i|stringformat:'s'%}
					<div class="col-xs-4 col-sm-3 col-lg-2">
		  				{%cloudinary chapter.bucket_link|add:"/"|add:j width='600' height='800' class='img-responsive'%}
	  				</div>
	  				{%endwith%}
  				{% endfor %}
			</div>
		{%endfor%}
	</div>
{%endblock%}