{%extends 'Portfolios/base_portfolio.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block portfolio_css%}
	<link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/theme1.css'%}"/>
{%endblock%}

{%block portfolio_header%}
	<div id="prof-pic-wrapper">
		{% cloudinary portfolio_data.prof_pic class='img-responsive img-circle'%}
	</div>
	<div id="name-wrapper">
		<h2>{{portfolio_data.user.first_name}} {{portfolio_data.user.last_name}}</h2>
	</div>
	<div id="info-wrapper">
		<p class="lead">{%if portfolio_data.location%}{{portfolio_data.location}}{%else%}Location{%endif%}</p>
	</div>
	<div id="bio-wraper">
		<p class="lead">{%if portfolio_data.text_bio%}{{portfolio_data.text_bio}}{%else%}Designer Bio{%endif%}</p>
	</div>
	<hr>
{%endblock%}

{%block portfolio_content%}
	<div class="row">
		{%if isEditMode%}<a href="{%url 'Portfolios:create_design_story' subdomain%}">Create a Design Story</a>{%endif%}
		{%for story in stories%}
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<a href="{%url 'Portfolios:render_design_story' subdomain story.0.design_story_id %}">
					{% cloudinary story.1.cover_photo width='800' height='600' class='img-responsive' %}</a>
			</div>
		{%endfor%}

	</div>
{%endblock%}