/* STYLING FOR HOMEPAGE AND PROFILE PAGE AKA Tiles */
.piece-grid {
	padding-top: 45px;

}

.row > div {
	padding-bottom: 15px;
}

.piece-overlay {
	position: absolute;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: white;
	height: calc(100% - 18px);
	opacity: 0;
}

.piece-overlay > p {
	font-size: 15px;
	margin-left: 5px;
}

@media(max-width:767px){
	.piece-overlay {
		display: none;
	}
}

.piece-overlay > .btn {
	margin-top: 10px;
	display: block;
}

.piece {
	width: 100%;
	background-color: white;
	border-radius: 8px;
	float: left;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.piece-thumb-container {
	width: calc(100% - 16px);
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
	padding-bottom: 10px;
	position: relative;
}