{%load staticfiles%}
<!DOCTYPE HTML>
<html>
<head>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src = "{%static "js/main.js"%}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel='stylesheet' type='text/css' href = "{%static "css/main.css"%}"/>
	{%block cssFiles%}{%endblock%}
	<!-- TODO get the profile name -->
	<title></title>
</head>
<body>
	<div id='portfolio-header'>
		{%block header%}{%endblock%}
	</div>
	<div id='portfolio-content'>
		{%block content%}{%endblock%}
	</div>
	{%block scripts%}{%endblock%}
</body>
</html>