{%extends 'Portfolios/base.html' %}
{%load staticfiles%}
{%block cssFiles%}
<link rel='stylesheet' type='text/css' href ="{%static "static/story.css"%}"/>
{%endblock%}
{%block header%}
<div id="name-wrapper">
	<h2>Blue Dress</h2>
</div>
<div id="by-wrapper">
	<img src="http://placemi.com/200x200" class="img-responsive img-circle">
	<p class="lead">By <a href="">Jane Doe</a></p>
</div>
<div id="desc-wrapper">
	<h3>About this piece</h3>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer felis erat, varius in erat sit amet, elementum condimentum mi. Duis nisl purus, porta non volutpat in, volutpat id augue. Sed tincidunt vestibulum urna, at pulvinar turpis congue vestibulum. Cras dignissim blandit aliquet.</p>
</div>
</div>
{%end block%}
{%block scripts%}
<script src="{%static "static/story.js"%}"/>
{%endblock}

{%block content}
<div id="chapter-list">
	{%for chapter in TODO story%}
	<div id="date-wrapper">
		<!-- TODO get date of entry -->
		<p class="lead text-center">2.5.15</p>
	</div>
	<div class="row">
		<div class="col-xs-12 cover-img">
			<!-- TODO get cover image -->
			<img src="http://placemi.com/800x600" class="img-responsive">
		</div>
	</div>
	<div class="row">
		{%for img in chapter%}
		<div class="col-xs-4 col-sm-3 col-lg-2">
			<!-- TODO put img in src here -->
			<img src="http://placemi.com/800x600" class="img-responsive">
		</div>
	</div>
	<div class="content-wrapper">
		<!-- TODO  put chapter description in this p tag -->
		<p class="lead text-justify">Proin eget sem semper, consequat est commodo, placerat mi. Nulla sed magna eros. Fusce ut arcu malesuada, sagittis lectus id, accumsan erat. Donec mollis ullamcorper purus, fermentum varius diam. Proin ligula nisl, ornare eget consequat in, aliquam at metus. Proin lacus leo, tempus id nisl et, feugiat pretium justo. Proin ullamcorper cursus egestas. Etiam purus ex, efficitur congue mauris vitae, rutrum sollicitudin quam.</p>
		<h1 class="text-center"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></h1>
	</div>
</div>
{%end block%}