{% extends 'base.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block cloudinary%}
    {% cloudinary_includes %}
    {% cloudinary_js_config %}
{% endblock %}
{%block app_css%}
	<link rel="stylesheet" href="{%static 'landingpage/css/dashboard.css' %}"/>
	<link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/profile.css'%}"/>
{%endblock%}

{%block content%}
	<div class="sidebar">
		<a href="#">
			<div class="browse-header">
				<p class="text-center">Browse Designs</p>
			</div>
		</a>
		<div class="browse-list">
			<form method='post' action="{%url 'landingpage:dashboard' request.user.username%}">
				{%csrf_token%}
				<h5>Filter By Tags</h5>
				{%for tag in all_tags%}
				<input class='tag-filter' name="tag-filters" type="checkbox" value="{{tag}}"/> {{tag}}<br/>
				{%endfor%}
			</form>
		</div>
		<a href="#">
			<div class="favorites">
				<p class="text-center">Favorites</p>
			</div>
		</a>
		<a href="#">
			<div class="following-header">
				<p class="text-center">Following</p>
			</div>
		</a>
<!-- 		<div class="following-list">
			{%for followee in following%}
				<a href="{%url 'Portfolios:render_portfolio' followee.0.user%}">
					<div class="following-item">
						<img class="img-responsive img-circle img-profile" src="{%cloudinary_url followee.0.avatar width='200' height='200'%}">
						<h5>{{followee.0.user.get_full_name}}</h5>

					</div>
				</a>
			{%endfor%}
		</div> -->
	</div>
	   
    <div id="results">
        {%for collection in collections%}
        	<div class="collection-container">
	            <a class='collection-url' href="{%url 'Portfolios:render_collection' collection.designer collection.id collection.title|slugify%}">
					<div class="det-container">
						<h3 class='collection-title'>{{collection.title}}</h3>
						<p class='collection-description'>{{collection.description}}</p>
					</div>
					<div class="thumb-container">
						{%for piece in pieces%}
							{%if piece.collection_id == collection.id%}
								<img class="img-responsive thumb-img" src="{%cloudinary_url piece.front_view width='300' height='400'%}">
							{%endif%}
						{%endfor%}
					</div>
				</a>
			</div>
		{%endfor%}
    </div>
	<div class="following-list">
		<a href="" class='followee'>
			<div class="following-item">
				<span class='followee-avatar'></span>
				
				<h4 class='followee-name'></h4>
				<h4 class='followee-location'>Location</h4>
				<p class='followee-bio'>bio</p>
			</div>
		</a>
	</div>
{%endblock%} 

{%block scripts%}
	
    <script type='text/javascript' src="{%static 'landingpage/js/Dashboard.js' %}"></script>
    <script>
        $(document).ready(function(){
        	$(".following-list").hide();	
            Dashboard.csrftoken = $.cookie('csrftoken');
            Dashboard.username = "{{request.user.username}}";
            Dashboard.init();
        });
    </script>
{%endblock%}