{% extends 'base.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block app_css%}

  <link rel="stylesheet" href="{%static 'landingpage/css/index.css' %}"/>

{%endblock%}

{%block content%}
  <div class="row piece-grid">
    {%for story in stories%}
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="piece">
          <div class="piece-thumb-container">
            {% url 'Portfolios:render_design_story' story.0.designer story.0.design_story_id story.0.title|slugify as dest%}
            <div class="piece-overlay" style="cursor:pointer;" onclick='goToStory("{{dest}}")'>
              <p><strong>{{story.0.title}}</strong></p>
              <p>{{story.0.date_created}}</p>
              <br></br>
              <p> <span class="glyphicon glyphicon-heart" aria-hidden="true" ></span>  <span class="likes-count">{{story.0.likes}}</span></p>
              <p> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="comments-count">{{story.0.comments}}</span></p>

              {%if user.is_authenticated%}
                {% if story.0.design_story_id in likes %}
                  <button type="button" class="btn btn-default btn-lg unlike-btn" data-storyid="{{story.0.design_story_id}}"
                    data-username="{{story.0.designer}}">
                    <span class='text'>Unlike</span> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  </button>
                {%else%}
                  <button type="button" class="btn btn-default btn-lg like-btn" data-storyid="{{story.0.design_story_id}}"
                    data-username="{{story.0.designer}}">
                    <span class='text'>Like</span> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  </button>
                {%endif%}
              {%endif%}

              <button type="button" class="btn btn-default btn-lg share-btn">
                Share <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
              <div>
                <a href="{%url 'Portfolios:render_portfolio' story.0.designer%}">
                  {%if not story.0.designer__avatar%}
                     <img src="{%static 'Users/img/user-default.png' %}" class="img-responsive img-circle"/>
                  {%else%}
                    <img src="{%cloudinary_url story.0.designer__avatar width='200' height='200' %}" class="img-responsive img-circle">
                  {%endif%}
                  {{story.0.designer__user__first_name}} {{story.0.designer__user__last_name}}
                </a>
              </div>
            </div>
            <img src="{%cloudinary_url story.1.cover_photo width='400' height='550' %}" class="img-responsive">
          </div>
        </div>
      </div>
    {%endfor%}
  </div>
{%endblock%} 
{%block scripts%}
  <script src="{%static 'js/hover.js' %}"></script>
  <script src="{%static 'Portfolios/js/CommunityActivities.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      CommunityActivities.authenticatedUsername = "{{user.username}}";
      CommunityActivities.csrftoken = $.cookie('csrftoken');
      CommunityActivities.init();      
    });

    function goToStory(dest){
      if(event.target.classList[0] != "btn" && event.target.parentElement.classList[0] != "btn"){
          window.location.href = dest;
      }
    }
  </script>
{%endblock%}