{% extends 'base.html' %}
{%load staticfiles%}
{% load cloudinary %}

{%block app_css%}

  <link rel="stylesheet" href="{%static 'landingpage/css/index.css' %}"/>
  <link rel='stylesheet' type='text/css' href ="{%static 'Portfolios/css/fontello.css'%}"/>

{%endblock%}

{#{%block content%}
  <div class="row piece-grid">
    {%csrf_token%}
    <form method='post' action="{%url 'landingpage:home'%}">
        <h3>Tags</h3>
        {%for tag in all_tags%}
            <input class='tag-filter' name="tag-filters" type="checkbox" value="{{tag}}"/> {{tag}}<br/>
        {%endfor%}
    </form>

    <h3>Results</h3>
     <div id="results">
        {%for collection in collections%}
            <a href="{%url 'Portfolios:render_collection' collection.designer.user collection.id collection.title|slugify%}">{{collection.title}}</a><br/>
        {%endfor%}
     </div>

  </div>
{%endblock%}

{%block scripts%}
	{{block.super}}
    <script type='text/javascript' src="{%static 'Portfolios/js/TagSearch.js' %}"></script>
    <script>
        $(document).ready(function(){
            TagSearch.csrftoken = $.cookie('csrftoken');
            TagSearch.init();
        });
    </script>
{%endblock%}