#direct_upload {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.edit-form-wrapper {
	margin-top: 40px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.85);
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	background-repeat: repeat;
}

.edit-form-wrapper textarea {
	max-height: 100px;
	width: 100%;
}

.det-form-group {
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	width: 48%;
}

.form-group:nth-child(4) {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.port-group:nth-child(6) {
	float: left;
	width: 40%;
	margin-right: 10%;
}

.port-group:nth-child(7) {
	float: left;
	width: 48%;
}